<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="db_the_recsEntities" connectionString="metadata=res://*/recs.csdl|res://*/recs.ssdl|res://*/recs.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SIVA-PC\SQLEXPRESS;Initial Catalog=db_the_recs;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
</configuration>
